### Dataset Exploration and cleaning

In [1]:
import pandas as pd

df_demo = pd.read_csv("/Users/ZINA/Desktop/IRONHACK/Week_5/Project/df_final_demo.txt")
df_web1 = pd.read_csv("/Users/ZINA/Desktop/IRONHACK/Week_5/Project/df_final_web_data_pt_1.txt")
df_web2 = pd.read_csv("/Users/ZINA/Desktop/IRONHACK/Week_5/Project/df_final_web_data_pt_2.txt")
df_exp = pd.read_csv("/Users/ZINA/Desktop/IRONHACK/Week_5/Project/df_final_experiment_clients.txt")

In [ ]:
df_demo.head()

In [2]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [14]:
# Demographic table
# There are 70609 clients; 
# only gender column is of type object (string); 
# 14-15 missing rows per column : dataset is largely complete with very few missing values; 
# clnt_tenure_yr/clnt_tenure_mnth : how long they have been clients; 
# num_accts = number of accounts

In [3]:
df_demo.isna().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [4]:
df_demo["gendr"].unique() # Gender has inconsistent labels

array(['U', 'M', 'F', nan, 'X'], dtype=object)

In [6]:
df_demo['gendr'].value_counts() # U = unknown for gender data is very large : 24122

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [7]:
# creating a clean age column (for clarity only no changes made)
df_demo['gender_clean'] = df_demo['gendr'].replace({'M': 'Male','F': 'Female','U': 'Unknown','X': 'Other'})
df_demo['gender_clean'] = df_demo['gender_clean'].fillna('Unknown')
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,gender_clean
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Unknown
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Unknown
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Unknown
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Male
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Female
...,...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0,Unknown
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0,Male
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0,Female
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0,Male
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,Female

In [8]:
df_demo['gender_clean'].isna().sum() # to check

np.int64(0)

In [ ]:
df_exp.head()

In [9]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [ ]:
# 70609 entries : same as number of clients in df_demo
# variation : 20109 missing data (clients who weren't part of the experiment)

In [ ]:
df_web1.head()

In [ ]:
df_web1.info()

In [ ]:
df_web2.head()

In [ ]:
df_web2.info()

In [ ]:
# Concatenating df_web1 and df_web2

In [10]:
df_web = pd.concat([df_web1, df_web2], axis=0)

In [11]:
df_web.info()

<class 'pandas.core.frame.DataFrame'>
Index: 755405 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 34.6+ MB

In [ ]:
# 755405 entries : no missing values 
# multiple rows per client : behavioral events
# date_time column is an object : needs to be converted

In [12]:
# convert date_time column from object to a datetime
df_web['date_time'] = pd.to_datetime(df_web['date_time'])

In [ ]:
df_web.head()

In [13]:
# checking if datetime conversion worked : 
df_web.info()

<class 'pandas.core.frame.DataFrame'>
Index: 755405 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.6+ MB

In [ ]:
df_web['process_step'].value_counts()

In [29]:
df_web['client_id'].nunique()

120157

In [ ]:
df_web['visit_id'].nunique()

### Client Demographics

In [ ]:
# Who are the primary clients using this online process?

In [15]:
df_demo['clnt_age'].describe()

count    70594.000000
mean        46.442240
std         15.591273
min         13.500000
25%         32.500000
50%         47.000000
75%         59.000000
max         96.000000
Name: clnt_age, dtype: float64

In [ ]:
# average age is 46

In [16]:
df_demo['clnt_tenure_yr'].describe()

count    70595.000000
mean        12.052950
std          6.871819
min          2.000000
25%          6.000000
50%         11.000000
75%         16.000000
max         62.000000
Name: clnt_tenure_yr, dtype: float64

In [ ]:
# long standing clients with an average of 12 years !

In [17]:
df_demo['gender_clean'].value_counts(normalize=True)

gender_clean
Unknown    0.341826
Male       0.335991
Female     0.322140
Other      0.000042
Name: proportion, dtype: float64

In [ ]:
# 0.34% are gender unknown, 0.33% are males followed by females 0.32%

In [18]:
df_demo['logons_6_mnth'].describe()

count    70595.000000
mean         5.566740
std          2.353286
min          1.000000
25%          4.000000
50%          5.000000
75%          7.000000
max          9.000000
Name: logons_6_mnth, dtype: float64

In [ ]:
# most client are active with an average of 5 logs in 6 months

In [19]:
df_demo['age_group'] = pd.cut(df_demo['clnt_age'],bins=[0, 30, 45, 60, 100],labels=['<30', '30–45', '45–60', '60+'])
df_demo['age_group'].value_counts(normalize=True)

age_group
45–60    0.312874
30–45    0.268890
60+      0.219580
<30      0.198657
Name: proportion, dtype: float64

In [ ]:
# 31 % of clients are between the age of 45-60, most clients are adults with ages superior to 30 years

### First behavioral insight

In [20]:
df_web['process_step'].value_counts()

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [ ]:
# 243945 start the process, and only 102963 reach the confirm step

In [21]:
df_exp['Variation'].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [ ]:
# The online process is predominantly used by older, long-standing clients.
# Despite higher age, users show strong digital engagement, with frequent logons.
# Early process steps show higher engagement than later confirmation stages, suggesting potential usability difficulties

### Connect Jupyter Notebook to MySQL

In [22]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [23]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/website'
engine = create_engine(connection_string)

In [24]:
df_demo.to_sql('demo', con=engine, if_exists='replace', index=False)
df_web.to_sql('web', con=engine, if_exists='replace', index=False)
df_exp.to_sql('exp', con=engine, if_exists='replace', index=False)

70609

### Use Python to pull summary tables from SQL

#### KPI 1 — Completion Rate

In [26]:
completion = pd.read_sql("""
SELECT 
    Variation,
    COUNT(DISTINCT client_id) AS total_clients,
    COUNT(DISTINCT CASE WHEN process_step = 'confirm' THEN client_id END) AS completed_clients,
    COUNT(DISTINCT CASE WHEN process_step = 'confirm' THEN client_id END) * 1.0 /
    COUNT(DISTINCT client_id) AS completion_rate
FROM navigation
GROUP BY Variation;
""", engine)

completion

  Variation  total_clients  completed_clients  completion_rate
0      None          69657              47024          0.67508
1   Control          23532              15434          0.65587
2      Test          26968              18687          0.69293

In [ ]:
# Interpretation: 
# The test group has the highest completion rate (69.29%)
# The control group has the lowest completion rate (65.58%)
# None : are clients not assigned to the experiment, completion rate (67.5)

# increased completion rate in the test group by 3.71% (redesigned interface appears improve completion rate)

#### KPI 2 — Time Spent per Step

In [27]:
time_step = pd.read_sql("""
SELECT
    Variation,
    process_step,
    AVG(time_to_next) AS avg_seconds
FROM (
    SELECT
        client_id,
        Variation,
        process_step,
        TIMESTAMPDIFF(SECOND, date_time,
            LEAD(date_time) OVER (
                PARTITION BY client_id, visit_id
                ORDER BY date_time
            )
        ) AS time_to_next
    FROM navigation
) t
WHERE time_to_next IS NOT NULL
GROUP BY Variation, process_step;
""", engine)

time_step

   Variation process_step  avg_seconds
0       None        start      56.4463
1       None       step_1      63.3639
2       None       step_2      94.2372
3       None       step_3     132.1137
4       Test        start      60.5538
5       Test       step_1      60.4956
6       Test       step_2      88.6324
7       Test       step_3     128.9463
8    Control        start      62.9065
9    Control       step_1      50.2542
10   Control       step_2      91.7156
11   Control       step_3     135.1022
12      Test      confirm     235.9370
13      None      confirm     279.7086
14   Control      confirm     153.8521

In [ ]:
# Interpretation: 
# test users progress through early steps efficiently
# but test users spend LONGER time a CONFIRMATION step (maybe more options, interface more complexe...)
# so improvement at early stages (less time spent) but more time spent on confirm step !!

#### KPI 3 — Error Rate

In [28]:
errors = pd.read_sql("""
SELECT
    Variation,
    COUNT(*) AS total_errors,
    COUNT(*) * 1.0 / COUNT(DISTINCT client_id) AS error_rate
FROM (
    SELECT 
        client_id,
        Variation,
        process_step,
        LAG(process_step) OVER (
            PARTITION BY client_id, visit_id
            ORDER BY date_time
        ) AS prev_step
    FROM navigation
) t
WHERE 
    prev_step IS NOT NULL
    AND process_step < prev_step
GROUP BY Variation;
""", engine)

errors

  Variation  total_errors  error_rate
0      None         82857     1.50482
1   Control         24242     1.39266
2      Test         34351     1.55491

In [ ]:
# test group has the highest error rate, control group has the lowest 
# the redesigned interface caused more backtracking (maybe due to unclear instructions, confusing step flow...) aligns with more time spent (confirm)

### Save tables in CSV files

In [30]:
completion.to_csv("completion_zina.csv", index=False)
time_step.to_csv("time_step_zina.csv", index=False)
errors.to_csv("error_rate_zina.csv", index=False)

### Hypothesis testing: Completion rate

In [ ]:
# Step 1: define hypotheses
# We want to compare completion rate of Test group vs Control group
# null hypothesis H0: Ptest <= Pcontrol --> completion rate of test group is equal or lower than control group
# alternative hypothesis H1: Ptest > Pcontrol --> completion rate of test group is greater than control group 
# This is a one-tailed test

# Step 2: choose statistical test 
# we are comparing two proportions (completion rate)
# we have large sample sizes 
# --> the correct test is a two-proportion z-test

# Step 3: calculate p-value 
# p-value tells us how likely the difference happened by random chance 
# small p-value <0.05 : difference is real 
# big p-value >0.05 : diffence could be random 

# Step 4: decision 
# if p-value <0.05: reject H0, accept H1 --> test is statistically better 
# if p-value >0.05: fail to reject H0 --> test may not be better

In [31]:
from statsmodels.stats.proportion import proportions_ztest
count = [18687, 15434]         # completions test and control
nobs = [26968, 23532]          # total clients test and control 

stat, p_value = proportions_ztest(count, nobs, alternative='larger')
stat, p_value

(np.float64(8.8745141890702), np.float64(3.511966623790716e-19))

In [ ]:
# Results : 
# z-statistic = 8.87
# p-value = 3.5 × 10^-19
# We compare the p-value to the typical significance level: α = 0.05 
# p-value is WAY smaller 
# reject H₀
# conclude the new design significantly improves completion rate

### 5% Cost effectiveness threshold analysis

In [ ]:
# Even if the new design is statistically better, Vanguard wants to know: Is it better enough to justify the cost?
# They set a rule: the Test group must improve completion rate by at least 5% over Control.
# If the improvement is less than 5%, the redesign might not be worth the money.

# Hypotheses 
# null hypothesis H0: the completion rate increase is less than 5%: ptest - pcontrol ≤0.05
# alternative hypothesis H1: the completion rate increase is at least 5%: ptest − pcontrol ≥0.05

In [36]:
# Calculate % improvement
test = 0.69293 # test completion rate
control  = 0.65587 # control completion rate

# Calculate % improvement 
improvement = (test - control) / control * 100
improvement

5.6505100096055765

In [ ]:
# Compare to the threshold
# Threshold = 5 %
# improvement = 5.65%

# Conclusion:
# the new design meets and exceeds the 5% cost-effectiveness requirement.
# the redesign seems worth the investment.

### Second hypothesis test

In [ ]:
# Compare average client age between Test and Control (are they older, younger ?)

In [ ]:
# define hypotheses:
# null hypotheses H0: average client age in test group = average client age in control group: µ test = µ control  
# alternative hypotheses H1: average client age in test group  =! average client age in control group: µ test =! µ control
# independent t-test 
# This is a two-tailed test (we only want to know if they are different (older or younger))

In [37]:
query = """
SELECT d.clnt_age, e.Variation
FROM demo d
JOIN exp e USING(client_id)
WHERE e.Variation IN ('Test','Control');
"""

df = pd.read_sql(query, engine)

test_age = df[df.Variation=='Test'].clnt_age.dropna()
ctrl_age = df[df.Variation=='Control'].clnt_age.dropna()

In [39]:
from scipy.stats import ttest_ind

stat, p_value = ttest_ind(test_age, ctrl_age, equal_var=False)
stat, p_value

(np.float64(-2.416068061200627), np.float64(0.015692719461388675))

In [ ]:
# hypothesis results: 
# t-statistic = -2.42
# p-value = 0.0157

In [ ]:
# interpretation 
# α = 0.05 (5%) : significance Level

# compare p-value to α
# p-value = 0.0157 < 0.05
# Reject Null hypothesis H0

# Conclusion 
# the average age of clients in test group significantly different from the control group
# t-statistic is negative : test group is slightly younger on average than Control